@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  
  font-family: Arial, Helvetica, sans-serif;
 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.background{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-image: url("/web_coverimg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: .7;
  z-index: -1;
  opacity: 1;
  filter: blur(3px);
  filter: brightness(50%);


  
}
